[Unit]
Description=Brainrot Auto Start
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/BrainrotPi/main_pi.py
WorkingDirectory=/home/pi/BrainrotPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
